<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (meta.pageId == 'top'){ %>
        <title><%= meta.title %></title>
    <%}else{ %>
        <title><%= meta.title %>| hayuse's portfolio</title>
    <% } %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <!-- font-family: 'Rajdhani', sans-serif; -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+Display:wght@100&display=swap" rel="stylesheet">
    <!-- font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Serif Display', serif; -->


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="<%= meta.sorcePath %>/assets/css/style.css" type="text/css">
    
</head>
<body>
    <header>
        <div id="humberger">
            <span class="hum_top"></span>
            <span class="hum_mid"></span>
            <span class="hum_bot"></span>
        </div>
        <div class="menu">
            <ul class="main_menu">
                <li><a href="<%= meta.sorcePath %>/index.html">Home</a></li>
                <li class="gallery_nav"><a href="<%= meta.sorcePath %>/gallery_select.html">Gallery</a>
                    <ul class="sub_menu">
                        <li class="sub_menu_item graphic-start"><a href="<%= meta.sorcePath %>/subdirectory/graphics.html">Graphics</a></li>
                        <li class="sub_menu_item video-start"><a href="<%= meta.sorcePath %>/subdirectory/video.html">Videos</a></li>
                    </ul>
                </li>
                <li><a href="<%= meta.sorcePath %>/subdirectory/project.html">Project</a></li>
                <li><a href="<%= meta.sorcePath %>/subdirectory/profile.html">Profile</a></li>
            </ul>
        </div>
    </header>
    <div class="header_back_video_area">
        <video id="gallery-back-video" src="<%= meta.sorcePath %>" muted autoplay loop></video>
    </div>